<audio id="player">
  <source id="source" src="assets/song/Tujhe.mp3">
</audio>
<div class="loading"></div>
<div class="balloons text-center" id="b1">
  <h2 style="color:#F2B300;">H</h2>
</div>
<div class="balloons text-center" id="b2">
  <h2 style="color:#0719D4;">B</h2>
</div>
<div class="balloons text-center" id="b3">
  <h2 style="color:#D14D39;">D</h2>
</div>
<div class="balloons text-center" id="b4">
  <h2 style="color:#8FAD00;">X</h2>
</div>
<div class="balloons text-center" id="b5">
  <h2 style="color:#8377E4;">O</h2>
</div>
<div class="balloons text-center" id="b6">
  <h2 style="color:#99C96A;">L</h2>
</div>
<div class="balloons text-center" id="b7">
  <h2 style="color:#20CFB4;">A</h2>
</div>

<img src="assets/images/Balloon-Border.png" width="100%" class="balloon-border">


<div class="container">

  <div class="row">
    <div class="col-md-2 col-xs-2 bulb-holder">
      <div class="bulb" id="bulb_yellow"></div>
    </div>
    <div class="col-md-2 col-xs-2 bulb-holder">
      <div class="bulb" id="bulb_red"></div>
    </div>
    <div class="col-md-2 col-xs-2 bulb-holder">
      <div class="bulb" id="bulb_blue"></div>
    </div>
    <div class="col-md-2 col-xs-2 bulb-holder">
      <div class="bulb" id="bulb_green"></div>
    </div>
    <div class="col-md-2 col-xs-2 bulb-holder">
      <div class="bulb" id="bulb_pink"></div>
    </div>
    <div class="col-md-2 col-xs-2 bulb-holder">
      <div class="bulb" id="bulb_orange"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="assets/images/banner.png" class="bannar">
    </div>
  </div>
  <!-- <div class="row message">
          <div class="col-md-12"><p>Khushbu</p></div>
      </div> -->
  <div class="row cake-cover">
    <div class="col-md-12 texr-center">
      <div class="cake">
        <div class="velas">
          <div class="fuego"></div>
          <div class="fuego"></div>
          <div class="fuego"></div>
          <div class="fuego"></div>
          <div class="fuego"></div>
        </div>
        <div class="cobertura"></div>
        <div class="bizcocho"></div>
      </div>
    </div>
  </div>
  <div class="row message">
    <div class="col-md-12">
      <p>Today is...</p>
      <p>as beautiful as other days</p>
      <p>but you realize</p>
      <p>another year has gone in a blink of the eyes</p>
      <p><strong>however</strong></p>
      <p>Do you know..?</p>
      <p>today, this date - 17th July is just special, because it's my wife's Birthday</p>
      <p>so special to me</p>
      <p>that's why</p>
      <p>Let's make it...the best celebration ever</p>
      <p>and let me share...</p>
      <p>a piece of happiness to my love</p>
      <p>I made all this...</p>
      <p>as a birthday present to my wife</p>
      <p>thanks for being in my life, my heartbeat</p>
      <p>thanks for the relationship we made</p>
      <p>thanks for everything</p>
      <p>I wish you all the best</p>
      <p>enjoy every single moment...</p>
      <p>and...</p>
      <p>fill this day with your most beautiful and khilkhilati hui smile</p>
      <p>and make it the best memory..</p>
      <p><strong>You will always rule on my heart...</strong></p>
      <p><strong>No matter what the situation is, I will never leave you alone, that's my promise</strong></p>
      <p>lastly...</p>
      <p>I'd like to wish you one more time</p>
      <p>a very happy birthday <strong>Akanksha Shukla Verma, MY LOVE</strong></p>
      <p>Now My heart want to say you something..</p>
      <p>tu ban jana mere hatho ki anguthi...</p>
      <p>mai tere mathe ka sindoor ban jauga...</p>
      <p>tere gum bahege meri aankho se...</p>
      <p>mai tere hotho ki khushi ban jauga</p>
      <p>one more for my paglu</p>
      <p>tum roothne ka silsila kayamat tak jari rakho...</p>
      <p>mai tume mnanana zindagi bhar ni chhuduga</p>
      <p>I love you my wife from the bottom of my heart</p>
      <p>matha do bauwa idhr....</p>
      <p>Ummmmmmmmmmmmmmmmmaaaaaaaaaaahhhhhhhhhhhh...</p>
      <p>I love you bhoooooootttttt waaaaalaaaa baby...</p>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <div class="row">
      <div class="col-md-6 text-center col-md-offset-3">
        <button class="btn btn-primary" id="turn_on">Turn On Lights</button>
        <button class="btn btn-primary" id="play">Play Music</button>
        <button class="btn btn-primary" id="bannar_coming">Let's Decorate</button>
        <button class="btn btn-primary" id="balloons_flying">Fly With Balloons</button>
        <button class="btn btn-primary" id="cake_fadein">Most Delicious Cake Ever</button>
        <button class="btn btn-primary" id="light_candle"> Light Candle</button>
        <button class="btn btn-primary" id="wish_message">Happy Birthday</button>
        <button class="btn btn-primary" id="story">A mesage for you</button>
      </div>
    </div>
  </div>


</div>
